nav {
    float: left;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 135px;
    height: 100vh;
    padding: 1em;
    border-right: 1px solid #777;
}

.brand, .links  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand img {
    width: 40px;
}

.brand h2 {
    transition: .4s;
}

.brand:hover > h2 {
    color: #dec129;
}

.links {
    margin: 0 auto;
}

.links li {
    list-style: none;
    padding: .5em;
}
.links a {
    padding: .1em .3em;
    transition: .4s;
    font-weight: 600;
}

#add a {
    color: #dec129;
}

#add a:hover {
    background-color: #efefef;
}