<form (ngSubmit)="submit()" [formGroup]="momentForm" #formDir="ngForm">
    <input type="hidden" formControlName='id'>
    <div class="form-group">
        <label for="title">Título:</label>
        <input type="text" name="" id="" placeholder="Um título empolgante." formControlName="title" required />
    </div>
    <div *ngIf="title.invalid && formDir.submitted" class="validation-error">
        <p *ngIf="title.errors?.['required']">O título é obrigatório.</p>
        <p *ngIf="title.errors?.['minlength']">O título deve ter mais que três caracteres.</p>
    </div>
    <div class="form-group">
        <label for="description">Descrição:</label>
        <textarea placeholder="Conte como foi ❤️" formControlName="description" ng-trim="false"
            (keyup)="descCountWords()" required></textarea>
        <p>
            Caracteres restantes: {{ descLength }}
        </p>
        <div *ngIf="description.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="description.errors?.['required']">A descrição é obrigatória.</p>
            <p *ngIf="description.errors?.['minlength']">A descrição deve ter, ao menos, cinco caracteres.</p>
            <p *ngIf="description.errors?.['maxlength']">A descrição deve ter, no máximo, 256 caracteres.</p>
        </div>
    </div>
    <div *ngIf="!editMode; else editModeView" class="form-group">
        <label for="image">A foto que marcou o <span style="color: #dec129;">momento</span>:</label>
        <input type="file" (change)="onFileSelected($event)" required>
        <div *ngIf="image.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="image.errors?.['required']">A image é obrigatória.</p>
        </div>
    </div>
    <ng-template #editModeView>
        <h3> Modo de edição </h3>
    </ng-template>
    <input type="submit" value="{{ btnText }}">
</form>